<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="shelfbot_common">

  <!-- Material Definitions -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1.0"/>
  </material>

  <!-- Default Inertial Properties -->
  <xacro:macro name="default_inertial" params="mass ixx ixy ixz iyy iyz izz">
    <inertial>
      <mass value="${mass}"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
    </inertial>
  </xacro:macro>

  <!-- Motor Macro Definition -->
  <xacro:macro name="motor" params="name radius length mass ixx ixy ixz iyy iyz izz">
    <link name="${name}">
      <visual>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
      </collision>
      <xacro:default_inertial mass="${mass}" ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>
    </link>
  </xacro:macro>

  <!-- Camera Macro Definition -->
  <xacro:macro name="camera" params="name size radius">
    <link name="${name}">
      <visual>
        <geometry>
          <box size="${size}"/>
          <cylinder length="0.05" radius="${radius}"/>
        </geometry>
        <material name="gray"/>
      </visual>
      <collision>
        <geometry>
          <box size="${size}"/>
          <cylinder length="0.05" radius="${radius}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
