<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="base_axis" params="name length radius">
    <link name="${name}">
      <visual>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi / 2.0}" />
        <material name="dark_red"/>
      </visual>
      <collision>
        <geometry>
          <cylinder length="${length}" radius="${radius}"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi / 2.0}" />
      </collision>
    </link>
  </xacro:macro>
</robot>
