<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="box" params="name parent_link">
    <link name="${name}">
      <visual>
        <geometry>
          <box size="${box_x_size} ${box_y_size} ${box_z_size}"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="${box_x_size} ${box_y_size} ${box_z_size}"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="${box_mass}"/>
        <inertia ixx="${box_inertia}" ixy="0.0" ixz="0.0" iyy="${box_inertia}" iyz="0.0" izz="${box_inertia}"/>
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${name}"/>
      <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
