<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo colors for each link -->
  <gazebo reference="base_link">
    <material>Gazebo/Gold</material>
  </gazebo>

  <gazebo reference="wheel_front_left">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wheel_front_right">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wheel_back_left">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="wheel_back_right">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="base_axis_front_left">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="base_axis_front_right">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="base_axis_back_left">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="base_axis_back_right">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="motor_front_left">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="motor_front_right">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="motor_back_left">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="motor_back_right">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="camera">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Gazebo plugin for ros2_control -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find shelfbot)/config/four_wheel_drive_controller.yaml</parameters>
    </plugin>
  </gazebo>

  <gazebo reference="camera">
    <sensor type="camera" name="camera">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>600</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>shelfbot/camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>