<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="FourWheelDriveSystem" type="system">
    <hardware>
      <plugin>shelfbot/FourWheelDriveHardwareInterface</plugin>
      <param name="communication_type">$(arg communication_type)</param>
      <param name="base_url">$(arg base_url)</param>
      <param name="wheel_separation">$(arg wheel_separation)</param>
      <param name="wheel_radius">$(arg wheel_radius)</param>
    </hardware>

    <joint name="joint_base_axis_front_left">
      <command_interface name="velocity"/>
      <command_interface name="max_speed"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_base_axis_front_right">
      <command_interface name="velocity"/>
      <command_interface name="max_speed"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_base_axis_back_left">
      <command_interface name="velocity"/>
      <command_interface name="max_speed"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint_base_axis_back_right">
      <command_interface name="velocity"/>
      <command_interface name="max_speed"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>