<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Material Definitions -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1.0"/>
  </material>

  <!-- Common dimensions for motors and wheels -->
  <xacro:property name="base_width" value="0.5"/>
  <xacro:property name="base_length" value="0.7"/>
  <xacro:property name="base_height" value="0.2"/>

  <xacro:property name="motor_radius" value="0.05"/>
  <xacro:property name="motor_length" value="0.2"/>
  <xacro:property name="wheel_radius" value="0.1"/>
  <xacro:property name="wheel_width" value="0.05"/>
  <xacro:property name="camera_width" value="0.2"/>
  <xacro:property name="camera_length" value="0.2"/>
  <xacro:property name="camera_height" value="0.1"/>
  <xacro:property name="camera_lens_radius" value="0.05"/>
  <xacro:property name="camera_mount_height" value="0.5"/>

</robot>
