<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Fixed Joint Macro -->
  <xacro:macro name="fixed_joint" params="name parent child origin_width origin_length origin_height">
    <joint name="${name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${child}"/>
      <origin xyz="${origin_width} ${origin_length} ${origin_height}" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

</robot>
